:root {
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --title-text-color: #212121;
  --dark-bg-text-color: #ffffff;
  --light-bg-text-color: #000000;
  --socials-fill-color: #afb1b8;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --dark-bg-color: #2f303a;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --socials-bg-color: rgba(255, 255, 255, 0.1);
}
