.benefits {
  display: flex;
  margin-left: -30px;
}
.benefits__item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-left: 30px;
}
.benefits__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-bg-color);
}

.benefits__item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}
